#top-10{
 display: flex;
.text{
    &-item{
    text-align: center;
    width: 400px;
    margin-left: 170px;
    h4{
        color: dimgrey;
    }
    }
    .top-20{
    display: flex;
    
    .text-img{

        &-low{


        }

        &-high{
            margin-left: 5px;
            width: 80%;
            height: 80%;
            border-radius: 10px;
        }
        &-cat{
        text-align: center;
        width: 250px;
        margin-left: 50px
    }
    &-btn{
        background-color: blue;
        // margin-left: 100px;
        border-radius: 10px;
        text-align: center;
    
     }
    }
    }
  }
  .title{
    display: flex;
    justify-content: center;
    align-items: center;
        background-image: url("../img39/Screenshot\ 2023-10-25\ 095222.png");
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 120vh;
    
    }

  }
